@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;

    /*纵轴居中轴*/
    justify-content: center;
    /*横轴向右停靠align-items: end;*/
    align-items: center;
    /*具体参数*/
    height: 100vh;
    /*加入之后,无法弹性放大缩小width: 180vh;*/

    background: url("/images/1.jpeg") no-repeat;
    background-size: cover;
}